@import 'partials/variables';
@import 'partials/typography';
@import 'partials/mixins';


.box1{
    @include box-style($color-generic, $color-primary, $color-primary);
    

    p{
        font-size: 14px;
        line-height: 25px;
        color: rgba($color: #000000, $alpha: 0.5);
    }

    a{

        &:hover{
            background: darken($color: $color-primary, $amount: 15%);
        }
    }
}

.box2{
    @include box-style(#CCCCCC, #000000, blue);

    img{
        width: 300px;
        height: 180px;
    }

    a{

        &:hover{
            background: darken($color: red, $amount: 15%);
        }
    }
}